$black: #000000;
$white: #ffffff;
$cedar: #3D2514;
$cardinal: #BF2222;
$yellow-orange: #FFC045;
$mine-shaft: #3D3D3D;
$silver: #BDBDBD;
$dove-gray: #6E6E6E;
$cod-gray: #090909;

$font1: 'Montserrat';
$font2: 'Bebas Neue';
$font3: 'Alfa Slab One';